data/bronze/**
!data/bronze/.gitkeep
data/silver/**
!data/silver/.gitkeep
data/gold/**
!data/gold/.gitkeep
data/raw/fcc/consumer_complaints/**
!data/raw/fcc/consumer_complaints/.gitkeep
data/raw/fcc/_metadata/**
!data/raw/fcc/_metadata/.gitkeep

*.pbix
.env
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
